{
    "bot" : {
        "token": "<bot_token>",
        "dblToken": "<discord_bot_listing_api_token>"
    },
    "botinfo" : {
        "music_disabled":"❌",
        "music_enabled":"✔️",
        "error_channel":"<channel_id>",
        "owner" : "<owner_tag>",
        "ownerid" : "<owner_userID>"
    },
    "database" : {
        "db" : "<mongodb_db>",
        "host" : "<mongodb_host>",
        "port" : "<mongodb_port>"
    }
}
